In [1]:
import dask.dataframe as dd

In [5]:
!ls

LICENSE		       Youtube01-Psy.csv	Youtube05-Shakira.csv
module1-aws-sagemaker  Youtube02-KatyPerry.csv	YouTube-Spam-Collection-v1.zip
README.md	       Youtube03-LMFAO.csv
Untitled.ipynb	       Youtube04-Eminem.csv

In [6]:
%%time
df = dd.read_csv('Youtube*.csv')

CPU times: user 17.7 ms, sys: 0 ns, total: 17.7 ms
Wall time: 28.9 ms

In [9]:
df.columns

Index(['COMMENT_ID', 'AUTHOR', 'DATE', 'CONTENT', 'CLASS'], dtype='object')

In [12]:
len(df)

1956

In [63]:
df.compute().shape

(1956, 6)

In [15]:
df['CLASS'].value_counts().compute()

1    1005
0     951
Name: CLASS, dtype: int64

In [16]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [18]:
df['content'] = df['CONTENT'].str.lower()

In [19]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS,content
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1,"huh, anyway check out this you[tube] channel: ..."
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1,hey guys check out my new channel and our firs...
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1,just for test i have to say murdev.com
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1,me shaking my sexy ass on my channel enjoy ^_^ ﻿
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1,watch?v=vtarggvgtwq check this out .﻿

*** Wrong
spam = df[(df['CLASS'] == 1)]['content'].str.contains('check').compute().shape
len(spam)

Total check in content

In [62]:
df[df['content'].str.contains('check', na=False)].compute().shape

(480, 6)

Total spam with the work check

In [67]:
df[ (df['CLASS'] == 1) & (df['content'].str.contains('check'))].compute().shape

(461, 6)

Total legitimate with work check

In [68]:
df[ (df['CLASS'] == 0) & (df['content'].str.contains('check'))].compute().shape

(19, 6)